
img{
    width: 100%;
    border-radius: 1rem;
}
table{
    width: 90%;
}

.name{
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 10px;
    padding: 0 2rem;
}